#cadre1 {
    box-shadow: #4e555b 10px 10px 10px;
    <!--width: 400px;-->
    height: 50px;
    text-align: center;
    background-color: #005cbf;


}
#cadre2 {
    box-shadow: #4e555b 10px 10px 10px;
<!-- width: 400px; -->
    height: 50px;
    text-align: center;
    background-color: #005cbf;

}
#cadre3 {
    box-shadow: #4e555b 10px 10px 10px;
<!-- width: 400px; -->
    height: 50px;
    text-align: center;
    background-color: #005cbf;

}
.couleurRow {
    color: white;
}
#L1 {
    border: 2px solid black;
    height: 1000%;
    box-shadow: #6c757d 10px 10px 10px;
}
#L2 {
    border: 2px solid black;
    height: 1000%;
    box-shadow: #6c757d 10px 10px 10px;
}
#L3 {
    border: 2px solid black;
    height: 1000%;
    box-shadow: #6c757d 10px 10px 10px; 
}
#I1 {
    
    width: 20%;
    height: 20%;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: #6c757d 5px 5px 5px;
}
#I2 {
    
    width: 20%;
    height: 20%;
    margin-left: 15px;
    margin-top: 15px;
    box-shadow: #6c757d 5px 5px 5px;
}
#C1 {
     margin-left: 50px;
     margin-top: -150px;
     box-shadow: #6c757d 5px 5px 5px;
}
#C2 {
    margin-left: 50px;
    margin-top: -330px;
    box-shadow: #6c757d 5px 5px 5px;
}
#C3 {
    margin-left: 295px;
    margin-top: -170px;
    box-shadow: #6c757d 5px 5px 5px;
}
#C4 {
    margin-left: 867px;
    margin-top: -600px;
    box-shadow: #6c757d 5px 5px 5px;
}

