
/* ============= DEBUT DU CSS DU HEAD ============ */

header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    border-left: 1px solid orangered;
    border-bottom: 1px solid orangered;
    border-top: 1px solid orangered;
    position: relative;
    left: 41px;
    height: 5rem;
}

header ul {
    list-style-type: none;
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

header ul li {
    background: rgb(255, 182, 59);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 10rem;
    border: 1px solid orangered;
}

header ul li a {
    text-decoration: none !important;
    color: orangered !important;
    font-weight: bold;
    font-size: 1.1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgb(255, 220, 112);
}

header ul li[class="active"] a {
    color: white !important;
}
.active {
    background: royalblue;
    font-weight: bold;
    border: 2px solid rgb(43, 73, 145);
    height: 6rem;
    border-radius: 10%;
}

.active:hover {
    background: royalblue;
}


.parallax {
    height: 400px;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header_parallax {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: .8rem;
    }

    p {
        font-size: .7rem;
    }

    .container {
        width: 100%;
    }

    .article_content {
        margin: 0;
        padding-bottom: 1rem;
    }

    .parallax {
        background-size: cover;
        height: 200px;
    }

    #programme_titre, #technologies_titre {
        margin: 4rem 2rem;
    }

}
/* <<<<<<< HEAD */

            /* ============= FIN DU CSS DE HEAD ============ */

            /* ============= DEBUT DU CSS DE CONTACT ============ */

.contact-form {
    background: #fff;
    margin-bottom: 10%;
    padding-bottom: 10%;
    width: 70%;
    border-radius: 10px;
}

.contact-form .form-control {
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #ffb63b;
}

.contact-form h1 {
    margin-bottom: 8%;
    text-align: center;
    color: white;
    background-color:#0062cc ;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #0B0B61;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #ffb63b;
    font-weight: 600;
    color: orangered;
    cursor: pointer;
}

.Entourage{
    border: 2px solid #0069d9;
    box-shadow: 8px 8px 5px #0B0B61;
    margin: 10% auto;
    padding-top: 5%;
}
.MargeNousContacter {
    margin-top: -15%;
}

.Animation {
    animation-name: Animation;
    animation-duration: 3s;
}

@keyframes Animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.trombi-ligne img
{
    width:250px;
    margin-bottom: 10px;
}

i {
    font-size: 40px;
    margin-right: 10px;
}


/*=======*/

/* ============= FIN DU CSS DE CONTACT ============ */

/* promocss */
/* >>>>>>> d95370e51660e331686ff77d69ae805b2acc16e0 */
