
        /* ============= REGLES GLOBALES ============ */

.parallax {
    height: 400px;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header_parallax {
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {
    background: royalblue;
    font-weight: bold;
    border: 2px solid rgb(43, 73, 145);
    height: 6rem;
    border-radius: 10%;
}

.active:hover {
    background: royalblue;
        }

        /* ============= FIN DES REGLES GLOBALES ============ */

        /* ============= DEBUT DU CSS DU HEAD ============ */

header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    border-left: 1px solid orangered;
    border-bottom: 1px solid orangered;
    border-top: 1px solid orangered;
    position: relative;
    left: 41px;
    height: 5rem;
}

header ul {
    list-style-type: none;
    margin: 0!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

header ul li {
    background: rgb(255, 182, 59);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    width: 10rem;
    border: 1px solid orangered;
}

header ul li a {
    text-decoration: none !important;
    color: orangered !important;
    font-weight: bold;
    font-size: 1.1rem;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li:hover {
    text-decoration: none;
    cursor: pointer;
    background: rgb(255, 220, 112);
}

header ul li[class="active"] a {
    color: white !important;
}



        /*HEAD*/

.parallax {
    height: 400px;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header_parallax {
    display: flex;
    align-items: center;
    justify-content: center;
}



        /* ============= FIN DU CSS DE HEAD ============ */
/* ============= FIN DU CSS DU HEADER ============ */

        /* ============= FIN DU CSS DU HEADER ============ */


        /* ============= DEBUT DU CSS DE CONTACT ============ */

.contact-form {
    background: #fff;
    margin-bottom: 2%;
    padding-bottom: 1%;
    width: 70%;
    border-radius: 10px;
}

.contact-form .form-control {
    border-radius: 1rem;
    box-shadow: 3px 3px 5px #ffb63b;
}

.contact-form h1 {
    margin-bottom: 8%;
    text-align: center;
    color: white;
    background-color:#0062cc ;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #6c757d;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #ffb63b;
    font-weight: 600;
    color: orangered;
    cursor: pointer;
}

.Entourage{
    border: 2px solid #0069d9;
    box-shadow: 10px 10px 10px #6c757d;
    margin: 18% auto 5% auto;
    padding-top: 5%;
}
.MargeNousContacter {
    margin-top: -18%;
}

.Animation {
    animation-name: Animation;
    animation-duration: 3s;
}

@keyframes Animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

        /* ============= FIN DU CSS DE CONTACT ============ */

        /* ============= DEBUT DU CSS DE PROMO ============ */

.trombi-ligne img
{
    width:250px;
    margin-bottom: 10px;
}

i {
    font-size: 40px;

    margin: 10px 10px 5px 15px;
}

#title
{
    border: 2px solid #0069d9;
    box-shadow: 8px 8px 5px #0B0B61;
    margin: 10% auto;
    text-align: center;
    color: white;
    background-color:#0062cc ;
    border-radius: 10px;

}

.prenomPhoto
{
    text-align: center;
    color: white;
    background-color:#ffc107;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #0B0B61;
    margin: auto;
}



            /* ============= FIN DU CSS DE PROMO ============ */

            /* ============= DEBUT DU CSS DE FORMATION ============ */

article {
    margin-bottom: 5rem;
}

.card {
    display: inline-block;
    margin: 1rem 5rem;
    width: 8rem;
    border: none !important;
}

.container_formation{
    width: 60%;
    margin: 0 auto;
}

.card-image-top {
    text-align: center;
}

.card-title {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}

.drop-button {
    background: rgb(64, 104, 214);
    color: white;
    font-size: 2rem;
}

.fa-plus-square, .fa-minus-square {
    font-size: 3rem;
    color: rgb(64, 104, 214);
    margin-right: 1.5rem;
    cursor: pointer;
}

.article_header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.article_header h2 {
    margin: 0 !important;
}

.article_content {
    margin-left: 2.1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2rem;
    box-sizing: border-box;
}

#card_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#programme_titre, #technologies_titre {
    text-align: center;
    background: rgb(64, 104, 214);
    padding: 2rem;
    box-shadow: 10px 10px 10px #6c757d;
    color: white;
    margin: 10rem 0;
}

#programme_formation {
    margin-top: 5rem;
}

#programme_formation article h2 {
    margin-bottom: 3rem;
    color: rgb(64, 104, 214);
}


        /* ============= FIN DU CSS DE FORMATION ============ */

        /* ============= DEBUT DU CSS REMERCIEMENTS=========== */
#remerci
{
    border: 2px solid #0069d9;
    box-shadow: 10px 10px 10px #6c757d;
    margin: 10% auto 8% auto;
    text-align: center;
    color: white;
    background-color:#0062cc ;
    border-radius: 10px;
}
#remer
{
    font-size: 15px;
}

#rem1
{
    border: 2px solid #0069d9;
    box-shadow: 10px 10px 10px #6c757d;
    margin: 10% auto 8% auto;
    text-align: center;
    color: white;
    background-color:#0062cc ;
    border-radius: 10px;
}

        /* ============= FIN DU CSS REMERCIEMENTS=========== */

        /* ============= DEBUT DU CSS DES ACTUALITES ============ */
.actu_title {
    background: rgb(64, 104, 214);
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actu_container {
    width: 60%;
}

.actu_container article {
    margin: 10rem 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.actu_content {
    box-sizing: border-box;
    padding: 2rem;
}

.actu_button {
    background: rgb(64, 104, 214);
    padding: .7rem;
    margin-top: 2rem;
}

.actu_image {
    background: url("article_dummy_image.jpg");
    background-size: cover;
    position: relative;
    right: 15px;
}

#actualites_main_title {
    text-align: center;
    background: rgb(64, 104, 214);
    padding: 2rem;
    box-shadow: 10px 10px 10px #6c757d;
    color: white;
    margin: 10rem 0;
}

        /* ============= FIN DU CSS DES ACTUALITES ============ */

        /* ============= DEBUT DU CSS FOOTER ============ */

#page_footer {
    width: 100%;
    height: 15rem;
    text-align: center;
    background: rgb(255, 182, 59);
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#face_logo {
    width: 20rem;
    position: relative;
    left: .7rem;
}

#partenaires_logos {
    width: 53rem;
}

        /* ============= FIN DU CSS FOOTER ============ */


        /* ============= DEBUT CSS DU DIV MASQUABLE EN JS ============ */

#masquable {
    background: #ffdc70;
    width: 30rem;
    height: 20rem;
    border-radius: 20% 20% 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 6rem;
    z-index: 1;
    font-weight: bold;
    color: orangered;
    padding-left: 3rem;
}

#masquable span {
    position: relative;
    bottom: 6rem;
    right: 2rem;
}

#masquable span:hover {
    cursor: pointer;
}

.masquable-entrance {
    animation: masquable_entrance_animation 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}


@keyframes masquable_entrance_animation {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


        /* ============= FIN CSS DU DIV MASQUABLE EN JS ============ */



        /* ============= DEBUT DES MEDIA QUERIES ============ */

@media screen and (max-width: 600px) {

    header {
        display: none;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: .8rem;
    }

    p {
        font-size: .7rem;
    }

    .container {
        width: 100%;
    }

    .article_content {
        margin: 0;
        padding-bottom: 1rem;
    }

    .parallax {
        background-size: cover;
        height: 200px;
    }

    #programme_titre, #technologies_titre {
        margin: 4rem 2rem;
    }

}

        /* ============= FIN DES MEDIA QUERIES ============ */

        /* ============= DEBUT DE CANDITATS ============ */

.candidats-h2, .candidats-h3 {
    box-shadow: 10px 10px 10px #6c757d;
    color: white;
    background-color:#0062cc ;
}

.candidats-h1 {
    background-color:#ffb63b;
    color:orangered;
    box-shadow: 10px 10px 10px #6c757d;
}

.candidats-align {
    text-align: center;
}

.candidats-cadre {
    box-shadow: 10px 10px 10px #6c757d;
    margin-top: 5%;
    padding: 10px;
}

.candidats-haut {
    margin-top: 10%
}

.candidats-texte {
color:#0062cc;
}


        /* ============= FIN DE CANDIDATS ============ */


        /* ============= DEBUT DE ACCUEIL ============ */
        #cadre1 {
            box-shadow: #4e555b 10px 10px 10px;
            /*width: 400px;*/
            height: 50px;
            text-align: center;
            background-color: #005cbf;


        }
        #cadre2 {
            box-shadow: #4e555b 10px 10px 10px;
            /*width: 400px;*/
            height: 50px;
            text-align: center;
            background-color: #005cbf;

        }
        #cadre3 {
            box-shadow: #4e555b 10px 10px 10px;
            /*width: 400px;*/
            height: 50px;
            text-align: center;
            background-color: #005cbf;

        }
        .couleurRow {
            color: white;
        }
        #L1 {
            border: 2px solid black;
            height: 1000%;
            box-shadow: #6c757d 10px 10px 10px;
        }
        #L2 {
            border: 2px solid black;
            height: 1000%;
            box-shadow: #6c757d 10px 10px 10px;
        }
        #L3 {
            border: 2px solid black;
            height: 1000%;
            box-shadow: #6c757d 10px 10px 10px;
        }
        #I1 {

            width: 20%;
            height: 20%;
            margin-left: 15px;
            margin-top: 15px;
            box-shadow: #6c757d 5px 5px 5px;
        }
        #I2 {

            width: 20%;
            height: 20%;
            margin-left: 15px;
            margin-top: 15px;
            box-shadow: #6c757d 5px 5px 5px;
        }
        #C1 {
            margin-left: 50px;
            margin-top: -150px;
            box-shadow: #6c757d 5px 5px 5px;
        }
        #C2 {
            margin-left: 50px;
            margin-top: -330px;
            box-shadow: #6c757d 5px 5px 5px;
        }
        #C3 {
            margin-left: 295px;
            margin-top: -170px;
            box-shadow: #6c757d 5px 5px 5px;
        }
        #C4 {
            margin-left: 867px;
            margin-top: -600px;
            box-shadow: #6c757d 5px 5px 5px;
        }
.container-accueil {
    margin-top: 10rem !important;
}

        /* ============= FIN DE ACCUEIL ============ */
